.containerPP {
	width: 100%;
	margin: 0 auto;
	height: auto;
	background-color: green;
	position: relative;
	top: 30%;
	left: 30%;
}


.ppR {
	background-color: #fff;
}

.ppLeft {
	font-family: Segoe UI;
	padding-top: 12px;
	width: 780px;
	height: auto;
	background-color: #fff;
}

.ppLeft a {
	text-decoration: none;
	color: #000;
}

.ppLeft a:hover {
	color: #848688;
}

/*
==================================== ppRight ==========================
*/

.ppRight {
	background-color: 
}