body {
	background-color: #FFF;
	margin: 0;
	padding: 0;
}

.header {
	width: 960px;
	height: auto;
	background-color: #FFF;
	margin: 0 auto;
}

.header ul {
	margin-right: 40px;
	float: right;
	font-family: Lato;
	font-weight: 800;
	list-style: none;
	font-size: 15pt;
	text-align: center;
	display: inline-table;
}

.header ul li {
	color: #e3e3e3;
	float: left;
	width: 140px;
	height: 50px;
	line-height: 55px;
}

.header ul li a {
	color: #000;
	text-decoration: none;
}

.header ul li a:hover {
	color: #e8e8e8;
}

.search {
	font-family: "ubuntu",calibri;
	width: 100%;
	position:relative;
	padding: 0;
	margin-left: 0;
	background:#a7242e url(file:///D:/Ananta%20Files/zzz/images/diamond2.png) repeat-x center;
	height:42px;
}

.searchbox {
	text-align: right;
	padding-top: 10px;
	padding-right: 240px;
}

#searchbox {
	border-radius: 0.4em;
}