/*
	CSS from strach
	By : Bagus Anantavijaya
	Copyright 2015

*/

body {
	background-image: url("file:///D:/Ananta%20Files/zzz/images/bg.jpg");
	background-repeat: repeat-x repeat-y;
	background-position: absolute;
	margin: 0;
	padding: 0;
}

.header {
	width: 940px;
	height: auto;
	margin: 0 auto;
	padding-top: 12px;
	padding-bottom: 12px;
	//background-color: blue;
}

.header .login {
	float: right;
	//background-color: green;
	padding: 0;
	padding-right: 40px;
	margin-top: 50px;
	margin-bottom: 0;
}

.header .login ul {
	margin-top: 0;
	padding: 0 0 0 0;
	list-style: none;
	display: inline-table;
	//background-color: yellow;
	margin-bottom: 0;
}

.header .login ul li {
	float: left;
	width: 80px;
	height: 38px;
	text-align: center;
	line-height: 23px;
	padding: 0 0 0 0;
	margin:auto;
	//font-family: Lato;
	font-family: Segoe UI;
	font-size: 12pt;
	font-weight: 500;

}

.header .login ul li a {
	padding-top: 10px;
	display: block;
	text-decoration: none;
	height: 32px;
	background-color: white;
}

.header .login ul li a:hover {
	color: #e3e3e3;
}

/*
	---------------------------------------------------	SEARCH ----------------------------------------
*/

.search {
	font-family: Segoe UI;
	width: 100%;
	position:relative;
	padding: 0;
	margin-left: 0;
	background-color:#898183;
	height:42px;
}

.search .navBody {
	padding-top: 0px;
	width: 940px;
	margin: 0 auto;
	background-color: blue;
}

.search .navBody .nav {
	float: left;
	text-align: left;
	//background-color: yellow;
	width: 700px;
}

.search .navBody .nav ul {
	font-size: 12pt;
	font-weight: 600;
	margin: 0 0 0 0;
	padding-left: 0;
	list-style: none;
	display: inline-table;
}

.search .navBody .nav ul li {
	float: left;
	width: 130px;
	height: 38px;
	text-align: center;
	line-height: 23px;
	padding: 0 0 0 0;
	margin:auto;

}

.search .navBody .nav ul li a {
	padding-top: 10px;
	display: block;
	text-decoration: none;
	height: 32px;
	color: #fff;
}

.search .navBody .nav ul li a:hover {
	color: #fff;
	background-color: #4d4446;
}

.search .navBody .searchbox {
	padding-top: 10px;
	float: right;
}

/*
	---------------------------------------------------CONTAINER	----------------------------------------
*/


.container {
	width: 940px;
	margin: 0 auto;
	height: 1200px;
	background-color: #e3e3e3;
}

.container .slider {
	width: 940px;
	height: 400px;
	background-color: #154493;
	list-style: none;
	overflow: hidden;
}

.container .news {
	width: 940px;
	height: 730px;
	background-color: green;
}

.container .news .left {
	width: 600px;
	height: 700px;
	background-color: yellow;
	float: left;
	padding-top: 0;
}

.container .news .right {
	width: 340px;
	height: 700px;
	background-color: blue;
	float: left;
	padding-top: 0;
}

/*
	---------------------------------------------------	CONTAINER -> RIBBON ----------------------------------------
*/

 .ribbon-wrapper {
	position: relative;
}
  .ribbon-front {
	background-color: #a0242c;	height: 45px;
	width: 570px;
	position: relative;
	left:-5px;
	z-index: 2;
}

  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	top: 45px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
	left: -5px;
	border-color: transparent #a0242c transparent transparent;
}

  .ribbon-edge-topleft {
	top: 0px;
	border-width: 0px 5px 0 0;
}
  .ribbon-edge-bottomleft {
	border-width: 0 5px 3px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
	left: 560px;
	border-color: transparent transparent transparent #a0242c;
}

  .ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 5px;
}
  .ribbon-edge-bottomright {
	border-width: 0 0 3px 5px;
}

  .ribbon-back-left {
	position: absolute;
	top: 3px;
	left: 0px;
	width: 0px;
	height: 45px;
	background-color: #2b2121;	z-index: 0;
}

  .ribbon-back-right {
	position: absolute;
	top: 3px;
	right: 0px;
	width: 0px;
	height: 45px;
	background-color: #2b2121;	z-index: 0;
}

.ribbon-wrapper .ribbon-front h1 {
	color: #fff;
	font-family: Segoe UI Semibold;
	font-size: 16pt;
	padding-top: 8px;
	padding-left: 7px;
}

/*
	---------------------------------------------------	FOOTER----------------------------------------
*/

.footer {
	width: 100%;
	position:relative;
	padding: 0;
	margin-left: 0;
	background-color:#a0242c;
	height:250px;
}

.ribbonFooter {
	width: 100%;
	position:relative;
	padding: 0;
	margin-left: 0;
	background-color:#2b2121;
	height:40px;
}